.note{
    margin-bottom: 15px;
    padding: 25px;
    height: 300px;
    width: 270px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}

.note-text {
    flex: 1;
    resize: none;
    background-color: transparent;
    font-size: 20px;
    line-height: 1.875rem;
    outline: none;
    border: none;
    overflow: hidden;
}



.note-footer {
    color: rgb(43, 78, 3);
    font-size: 0.8em;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
   
}

.fa {
    display: inline-block;
    font: normal normal normal 24px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    text-rendering: auto;
    transform: translate(0, 0);
}


.fa-trash {
    color:green;
    font-size: 1.23333333em;
    line-height: .75em;
    vertical-align: -5%;
    float: right;
}

.note-footer i:hover {
    cursor: pointer;
    color: darkgreen;
}